.scheduler-left-sidebar {
    border-right: 1px rgb(229 231 235 / 100%) solid;
    height: 100vh;
    overflow-y: scroll;
}

body[data-theme='dark'] .scheduler-left-sidebar {
    border-right: 1px rgb(55 65 81 / 100%) solid;
}

.scheduler-left-sidebar > .next-content-panel-wrapper > .next-content-panel-container > .next-content-panel > .next-content-panel-header.next-content-panel-is-closed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.scheduler-left-sidebar > .next-content-panel-wrapper > .next-content-panel-container > .next-content-panel > .next-content-panel-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.scheduler-left-sidebar > .next-content-panel-wrapper > .next-content-panel-container > .next-content-panel > .next-content-panel-body {
    border-left: 0;
    border-right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.fleetbase-console.console-fleet-ops-operations-orders-index-new,
.fleetbase-console.console-fleet-ops-operations-orders-index-view,
.fleetbase-console .dragSortList {
    overflow: visible !important;
}

.next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.online-status,
.next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.text-green-500,
.next-fleet-summary-fleet .next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.text-green-500 {
    color: rgb(34 197 94) !important;
}

.next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.idle-status,
.next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.text-yellow-200,
.next-fleet-summary-fleet .next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.text-yellow-200 {
    color: rgb(254 240 138) !important;
}

.next-fleet-summary {
    --fleet-summary-toggle-base-padding: 1.5rem;
    --fleet-summary-nav-item-base-padding: 1.5rem;
}

.next-sidebar .next-sidebar-panel-container.next-driver-listing > .next-sidebar-panel > .next-content-panel > .next-sidebar-panel-toggle,
.next-sidebar .next-sidebar-panel-container.next-fleet-summary > .next-sidebar-panel > .next-content-panel > .next-sidebar-panel-toggle {
    padding-left: 2rem;
}

.next-sidebar .next-sidebar-panel-container.next-driver-listing > .next-sidebar-panel > .next-content-panel > .next-content-panel-body .next-nav-item,
.next-sidebar .next-sidebar-panel-container.next-driver-listing > .next-sidebar-panel > .next-content-panel > .next-sidebar-panel-body .next-nav-item.driver-nav-item {
    padding-left: 3.5rem;
}

.multi-drop-select-container .fleetbase-model-select.fleetbase-power-select.ember-model-select > .ember-model-select__loading {
    background: none;
    border: none;
    box-shadow: none;
}

body[data-theme='dark'] .next-table-wrapper.order-view-purchase-rate-table-wrapper > table#order-view-purchase-rate-table tbody tr td {
    background-color: rgb(31, 41, 55);
    color: rgb(249, 250, 251);
}

nav.next-sidebar {
    height: 100%;
    overflow-y: scroll;
}

/** places management css mods */

.next-content-overlay.place-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header,
.next-content-overlay.place-form-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: auto;
    align-items: start;
    padding: 0.65rem 1rem;
}

.next-content-overlay.place-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header > .next-view-header-left > div > div,
.next-content-overlay.place-form-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header > .next-view-header-left > div > div {
    flex-direction: column !important;
    justify-content: start;
    align-items: start;
}

.next-content-overlay.place-panel
    > .next-content-overlay-panel-container
    > .next-content-overlay-panel
    .next-content-overlay-panel-header
    > .next-view-header-left
    .next-content-overlay-panel-title,
.next-content-overlay.place-form-panel
    > .next-content-overlay-panel-container
    > .next-content-overlay-panel
    .next-content-overlay-panel-header
    > .next-view-header-left
    .next-content-overlay-panel-title {
    white-space: initial;
}

.next-content-overlay.place-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header > .next-view-header-left .status-badge,
.next-content-overlay.place-form-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header > .next-view-header-left .status-badge {
    margin-left: 0 !important;
}

/** end places management mods */

body.fleetbase-console .next-content-overlay > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header > .next-view-header-right .btn-wrapper {
    flex-shrink: 0;
}

/** calendar event css mods */

#fleet-ops-scheduler-calendar .fc-h-event .fc-event-main .fc-event-title {
    display: block;
    white-space: pre;
    word-break: break-word;
    padding: 0.05rem 0.2rem;
    text-overflow: ellipsis;
    font-size: 0.7rem;
}

#fleet-ops-scheduler-sidebar .fleetbase-model-select > .ember-basic-dropdown > .ember-basic-dropdown-trigger {
    box-shadow: none;
    background-color: inherit;
    padding: 0 0.25rem;
    border: 1px rgb(161 161 161 / 7%) solid;
    border-radius: 0;
    line-height: 1rem;
    width: 11rem;
    background-image: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#fleet-ops-scheduler-sidebar .fleetbase-model-select > .ember-basic-dropdown > .ember-basic-dropdown-trigger > .ember-power-select-selected-item,
#fleet-ops-scheduler-sidebar .fleetbase-model-select > .ember-basic-dropdown > .ember-basic-dropdown-trigger > .ember-power-select-selected-item span {
    font-size: 0.65rem;
}

#fleet-ops-scheduler-sidebar .fleetbase-model-select > .ember-basic-dropdown > .ember-basic-dropdown-trigger > .ember-power-select-clear-btn {
    margin: 0.15rem 0.25rem;
    padding: 0;
    width: 1rem;
    height: 1rem;
    right: 0;
}

#fleet-ops-scheduler-sidebar .fleetbase-model-select > .ember-basic-dropdown + .ember-model-select__loading {
    box-shadow: none;
    background-color: inherit;
    border: 0;
}
