.scheduler-left-sidebar {
    border-right: 1px rgb(229 231 235 / 100%) solid;
    height: 100vh;
    overflow-y: scroll;
}

body[data-theme='dark'] .scheduler-left-sidebar {
    border-right: 1px rgb(55 65 81 / 100%) solid;
}

.scheduler-left-sidebar > .next-content-panel-wrapper > .next-content-panel-container > .next-content-panel > .next-content-panel-header.next-content-panel-is-closed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.scheduler-left-sidebar > .next-content-panel-wrapper > .next-content-panel-container > .next-content-panel > .next-content-panel-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.scheduler-left-sidebar > .next-content-panel-wrapper > .next-content-panel-container > .next-content-panel > .next-content-panel-body {
    border-left: 0;
    border-right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.fleetbase-console.console-fleet-ops-operations-orders-index-new,
.fleetbase-console.console-fleet-ops-operations-orders-index-view,
.fleetbase-console .dragSortList {
    overflow: visible !important;
}
