.scheduler-left-sidebar {
    border-right: 1px rgb(229 231 235 / 100%) solid;
    height: 100vh;
    overflow-y: scroll;
}

body[data-theme='dark'] .scheduler-left-sidebar {
    border-right: 1px rgb(55 65 81 / 100%) solid;
}

.scheduler-left-sidebar > .next-content-panel-wrapper > .next-content-panel-container > .next-content-panel > .next-content-panel-header.next-content-panel-is-closed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.scheduler-left-sidebar > .next-content-panel-wrapper > .next-content-panel-container > .next-content-panel > .next-content-panel-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.scheduler-left-sidebar > .next-content-panel-wrapper > .next-content-panel-container > .next-content-panel > .next-content-panel-body {
    border-left: 0;
    border-right: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.fleetbase-console.console-fleet-ops-operations-orders-index-new,
.fleetbase-console.console-fleet-ops-operations-orders-index-view,
.fleetbase-console .dragSortList {
    overflow: visible !important;
}

.next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.online-status,
.next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.text-green-500,
.next-fleet-summary-fleet .next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.text-green-500 {
    color: rgb(34 197 94) !important;
}

.next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.idle-status,
.next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.text-yellow-200,
.next-fleet-summary-fleet .next-content-panel-body > .next-content-panel-body-inner > a.next-nav-item > .next-nav-item-icon-container > svg.text-yellow-200 {
    color: rgb(254 240 138) !important;
}

.next-fleet-summary {
    --fleet-summary-toggle-base-padding: 1.5rem;
    --fleet-summary-nav-item-base-padding: 1.5rem;
}

.next-sidebar .next-sidebar-panel-container.next-driver-listing > .next-sidebar-panel > .next-content-panel > .next-sidebar-panel-toggle,
.next-sidebar .next-sidebar-panel-container.next-fleet-summary > .next-sidebar-panel > .next-content-panel > .next-sidebar-panel-toggle {
    padding-left: 2rem;
}

.next-sidebar .next-sidebar-panel-container.next-driver-listing > .next-sidebar-panel > .next-content-panel > .next-content-panel-body .next-nav-item,
.next-sidebar .next-sidebar-panel-container.next-driver-listing > .next-sidebar-panel > .next-content-panel > .next-sidebar-panel-body .next-nav-item.driver-nav-item {
    padding-left: 3.5rem;
}

/** content panel dropdown button */
.next-sidebar .next-sidebar-panel-container.next-driver-listing > .next-sidebar-panel > .next-content-panel > .next-content-panel-header.next-sidebar-panel-toggle {
    padding-right: 0.25rem;
}

.next-sidebar
    .next-sidebar-panel-container.next-driver-listing
    > .next-sidebar-panel
    > .next-content-panel
    > .next-content-panel-header.next-sidebar-panel-toggle
    .ember-basic-dropdown
    button,
.next-sidebar
    .next-sidebar-panel-container.next-driver-listing
    > .next-sidebar-panel
    > .next-content-panel
    > .next-content-panel-header.next-sidebar-panel-toggle
    .ember-basic-dropdown-trigger
    button {
    padding: 0.15rem 0.625rem;
    font-size: 10px;
    line-height: 0.5;
}

.multi-drop-select-container .fleetbase-model-select.fleetbase-power-select.ember-model-select > .ember-model-select__loading {
    background: none;
    border: none;
    box-shadow: none;
}

body[data-theme='dark'] .next-table-wrapper.order-view-purchase-rate-table-wrapper > table#order-view-purchase-rate-table tbody tr td {
    background-color: rgb(31, 41, 55);
    color: rgb(249, 250, 251);
}

nav.next-sidebar {
    height: 100%;
    overflow-y: scroll;
}

/** places management css mods */

.next-content-overlay.place-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header,
.next-content-overlay.place-form-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: auto;
    align-items: start;
    padding: 0.65rem 1rem;
}

.next-content-overlay.place-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header > .next-view-header-left > div > div,
.next-content-overlay.place-form-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header > .next-view-header-left > div > div {
    flex-direction: column !important;
    justify-content: start;
    align-items: start;
}

.next-content-overlay.place-panel
    > .next-content-overlay-panel-container
    > .next-content-overlay-panel
    .next-content-overlay-panel-header
    > .next-view-header-left
    .next-content-overlay-panel-title,
.next-content-overlay.place-form-panel
    > .next-content-overlay-panel-container
    > .next-content-overlay-panel
    .next-content-overlay-panel-header
    > .next-view-header-left
    .next-content-overlay-panel-title {
    white-space: initial;
}

.next-content-overlay.place-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header > .next-view-header-left .status-badge,
.next-content-overlay.place-form-panel > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header > .next-view-header-left .status-badge {
    margin-left: 0 !important;
}

/** end places management mods */

body.fleetbase-console .next-content-overlay > .next-content-overlay-panel-container > .next-content-overlay-panel .next-content-overlay-panel-header > .next-view-header-right .btn-wrapper {
    flex-shrink: 0;
}

/** calendar event css mods */

#fleet-ops-scheduler-calendar .fc-h-event .fc-event-main .fc-event-title {
    display: block;
    white-space: pre;
    word-break: break-word;
    padding: 0.05rem 0.2rem;
    text-overflow: ellipsis;
    font-size: 0.7rem;
}

#fleet-ops-scheduler-sidebar .fleetbase-model-select > .ember-basic-dropdown > .ember-basic-dropdown-trigger {
    box-shadow: none;
    background-color: inherit;
    padding: 0 0.25rem;
    border: 1px rgb(161 161 161 / 7%) solid;
    border-radius: 0;
    line-height: 1rem;
    width: 11rem;
    background-image: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#fleet-ops-scheduler-sidebar .fleetbase-model-select > .ember-basic-dropdown > .ember-basic-dropdown-trigger > .ember-power-select-selected-item,
#fleet-ops-scheduler-sidebar .fleetbase-model-select > .ember-basic-dropdown > .ember-basic-dropdown-trigger > .ember-power-select-selected-item span {
    font-size: 0.65rem;
}

#fleet-ops-scheduler-sidebar .fleetbase-model-select > .ember-basic-dropdown > .ember-basic-dropdown-trigger > .ember-power-select-clear-btn {
    margin: 0.15rem 0.25rem;
    padding: 0;
    width: 1rem;
    height: 1rem;
    right: 0;
}

#fleet-ops-scheduler-sidebar .fleetbase-model-select > .ember-basic-dropdown + .ember-model-select__loading {
    box-shadow: none;
    background-color: inherit;
    border: 0;
}

.fleetops-pill-tabs > nav {
    display: flex;
    flex-direction: row;
}

.fleetops-pill-tabs > nav > a.ui-tab {
    border-radius: 1rem;
    border: 1px solid #374151;
    background-color: #1f2937;
    margin-right: 0.75rem;
    padding: 0.15rem 1rem;
    font-size: 0.85rem;
}

.fleetops-pill-tabs > nav > a.ui-tab.active {
    background-color: #3b82f6;
    border: 1px solid #2563eb;
}

.fleetops-pill-tabs > nav > a.ui-tab:hover {
    opacity: 0.75;
}

body[data-theme='light'] .fleetops-pill-tabs > nav > a.ui-tab {
    background-color: #e5e7eb;
    border: 1px solid #d1d5db;
}

body[data-theme='light'] .fleetops-pill-tabs > nav > a.ui-tab.active {
    background-color: #3b82f6;
    border: 1px solid #2563eb;
    color: #fff;
}

.next-view-section-subheader .next-view-section-subheader-actions button.btn.order-config-select-button,
.btn.order-config-select-button {
    padding-top: 0.265rem !important;
    padding-bottom: 0.265rem !important;
}

.order-config-custom-field-type-pill {
    max-width: 100px;
}

body[data-theme='light'] .flow-activity {
    stroke: #e5e7eb;
    fill: rgba(249, 250, 251, 50%);
}

body[data-theme='light'] .flow-activity:hover,
body[data-theme='light'] .joint-type-fleetbase-activity:hover .flow-activity {
    stroke: #2563eb;
}

body[data-theme='light'] .joint-type-fleetbase-activity text {
    fill: #030712;
}

body[data-theme='light'] .flow-activity-status-pill {
    fill: #f3f4f6;
    stroke: #f3f4f6;
}

body[data-theme='light'] .flow-activity-status-pill text {
    fill: #030712;
}

.flow-activity:hover,
.flow-activity-add-button:hover,
.joint-type-fleetbase-activity:hover .flow-activity {
    stroke: #2563eb;
}

.flow-activity-add-button:hover {
    fill: #3b82f6;
}

.joint-js-paper {
    overflow: auto;
}

.activity-flow-graph-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.activity-flow-zoom-controls {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1.5rem;
    padding-top: 1rem;
    z-index: 99;
}

.activity-flow-zoom-controls > .btn-wrapper:first-child > .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.activity-flow-zoom-controls > .btn-wrapper:last-child > .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.activity-flow-zoom-controls > .btn-wrapper > .btn:hover {
    opacity: 0.5;
}

.activity-logic-builder-conditions {
    display: flex;
    flex-direction: column;
}

.activity-logic-builder .activity-logic-builder-condition {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.activity-logic-builder .activity-logic-builder-condition > div .ember-basic-dropdown-trigger button.btn {
    padding: 0.5rem;
    border-radius: 0;
    font-size: 0.8rem;
    width: 5.5rem;
}

.activity-logic-builder .activity-logic-builder-condition > div > input,
.activity-logic-builder .activity-logic-builder-condition > div .ember-basic-dropdown-trigger button.btn {
    border: 0;
    box-shadow: none;
    font-size: 0.75rem;
    height: 28px;
}

.activity-logic-builder .activity-logic-builder-condition .btn.btn-danger {
    box-shadow: none;
    font-size: 0.75rem;
    height: 28px;
    padding: 0.5rem;
}

.activity-logic-builder .activity-logic-builder-condition > div > input {
    padding: 0.25rem 0.5rem;
    width: 100%;
    height: 28px;
}

.activity-logic-builder .activity-logic-builder-condition > div:first-child,
.activity-logic-builder .activity-logic-builder-condition > div:last-child {
    flex: 1;
}

.activity-logic-builder .activity-logic-builder-condition > div:first-child > input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.activity-logic-builder .activity-logic-builder-condition > div:last-child > input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.activity-logic-builder .activity-logic-builder-condition > div:first-child {
    border-right: 1px #1f2937 solid;
}

.activity-logic-builder .activity-logic-builder-condition > div:last-child {
    border-left: 1px #1f2937 solid;
}

body[data-theme='light'] .activity-logic-builder .activity-logic-builder-condition > div:first-child {
    border-right: 1px #f9fafb solid;
}

body[data-theme='light'] .activity-logic-builder .activity-logic-builder-condition > div:last-child {
    border-left: 1px #f9fafb solid;
}

.activity-logic-builder .activity-logic-builder-logic {
    border-top: 1px #374151 solid;
    padding: 0.5rem;
}

.activity-logic-builder .activity-logic-builder-condition-type-container {
    display: flex;
    flex-direction: row;
}

.activity-logic-builder button.activity-logic-builder-add-condition,
.activity-logic-builder .activity-logic-builder-condition-type {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    color: #f9fafb;
    background-color: #111827;
    border: 1px #374151 solid;
    border-radius: 0.25rem;
    margin: 0.5rem 0;
    font-size: 0.8rem;
    align-self: flex-start;
    flex: 0 1 auto;
}

.activity-logic-builder .activity-logic-builder-condition-type {
    width: 5rem;
}

body[data-theme='light'] .activity-logic-builder .activity-logic-builder-condition-type {
    color: #030712;
    background-color: #f9fafb;
    border: 1px #e5e7eb solid;
    margin-bottom: 0.5rem;
}

.activity-event-selector .activity-event-selector-event {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px #374151 solid;
    padding: 0.75rem 1.25rem;
    font-size: 0.9rem;
    font-family: monospace;
}

.x-fleetbase-file.custom-field-file {
    max-width: 100%;
    height: unset;
}

.x-fleetbase-file.custom-field-file > .x-fleetbase-file-wrapper {
    width: 100%;
    max-width: 100%;
    height: unset;
    padding: 0.35rem;
}

.x-fleetbase-file.custom-field-file > .x-fleetbase-file-wrapper > .x-fleetbase-file-actions + div.flex.flex-col {
    flex-direction: row;
    flex: none;
    width: 100%;
    justify-content: start;
}

.x-fleetbase-file.custom-field-file > .x-fleetbase-file-wrapper > .x-fleetbase-file-actions + div.flex.flex-col > .flex-1:not(.flex-col) {
    flex: none;
}

.x-fleetbase-file.custom-field-file > .x-fleetbase-file-wrapper .x-fleetbase-file-preview {
    margin-bottom: 0;
    height: unset;
    width: 2rem;
    margin-right: 0.5rem;
}

.x-fleetbase-file.custom-field-file > .x-fleetbase-file-wrapper .x-fleetbase-file-name {
    width: 100%;
    text-align: left;
    padding-left: 0.5rem;
}

.x-fleetops-input-height {
    height: 38px;
}
