<div class="order-progress-bar" {{did-update this.updateProgress @progress}} ...attributes>
    <div class="order-progress-bar-marker-wrapper">
        <div class="order-progress-bar-marker"></div>
    </div>
    <div class="order-progress-bar-wrapper">
        <div class="order-progress-bar-track"></div>
        <div class="order-progress-bar-progression" style={{this.progressionWidth}}></div>
        <div class="order-progress-bar-truck-icon" style={{this.iconPaddingLeft}}>
            <div class="truck-icon-wrapper">
                <FaIcon @icon="truck" />
            </div>
        </div>
    </div>
    <div class="order-progress-bar-marker-wrapper">
        <div class="order-progress-bar-marker"></div>
    </div>
</div>