<ContentPanel @title="Metadata" @open={{true}} @wrapperClass="bordered-top">
    <div>
        <MetadataEditor @value={{@resource.meta}} @onChange={{fn (mut @resource.meta)}} />
    </div>
</ContentPanel>