<div class="content">
    <div class="row">
        <div class="col-12 col-lg-3 col-xl-3">
            <LinkTo @route="dashboard.fleet-ops.management.vendors" class="group hover:bg-flb-blue p-4 cursor-pointer bg-white rounded max-w-xs w-full shadow-lg select-none overflow-hidden mx-auto mb-6">
                <p class="font-semibold text-lg mb-1 text-black group-hover:text-white">Vendors</p>
                <p class="text-grey-darker group-hover:text-white mb-2">Manage your vendors</p>
            </LinkTo>
        </div>
        <div class="col-12 col-lg-3 col-xl-3">
            <LinkTo @route="dashboard.fleet-ops.management.fleets" class="group hover:bg-flb-blue p-4 cursor-pointer bg-white rounded max-w-xs w-full shadow-lg select-none overflow-hidden mx-auto mb-6">
                <p class="font-semibold text-lg mb-1 text-black group-hover:text-white">Fleets</p>
                <p class="text-grey-darker group-hover:text-white mb-2">Manage your vendors</p>
            </LinkTo>
        </div>
        <div class="col-12 col-lg-3 col-xl-3">
            <LinkTo @route="dashboard.fleet-ops.management.drivers" class="group hover:bg-flb-blue p-4 cursor-pointer bg-white rounded max-w-xs w-full shadow-lg select-none overflow-hidden mx-auto mb-6">
                <p class="font-semibold text-lg mb-1 text-black group-hover:text-white">Drivers</p>
                <p class="text-grey-darker group-hover:text-white mb-2">Manage your vendors</p>
            </LinkTo>
        </div>
        <div class="col-12 col-lg-3 col-xl-3">
            <LinkTo @route="dashboard.fleet-ops.management.vehicles" class="group hover:bg-flb-blue p-4 cursor-pointer bg-white rounded max-w-xs w-full shadow-lg select-none overflow-hidden mx-auto mb-6">
                <p class="font-semibold text-lg mb-1 text-black group-hover:text-white">Vehicles</p>
                <p class="text-grey-darker group-hover:text-white mb-2">Manage your vendors</p>
            </LinkTo>
        </div>
        <div class="col-12 col-lg-3 col-xl-3">
            <LinkTo @route="dashboard.fleet-ops.management.places" class="group hover:bg-flb-blue p-4 cursor-pointer bg-white rounded max-w-xs w-full shadow-lg select-none overflow-hidden mx-auto mb-6">
                <p class="font-semibold text-lg mb-1 text-black group-hover:text-white">Places</p>
                <p class="text-grey-darker group-hover:text-white mb-2">Manage your vendors</p>
            </LinkTo>
        </div>
        <div class="col-12 col-lg-3 col-xl-3">
            <LinkTo @route="dashboard.fleet-ops.management.contacts" class="group hover:bg-flb-blue p-4 cursor-pointer bg-white rounded max-w-xs w-full shadow-lg select-none overflow-hidden mx-auto mb-6">
                <p class="font-semibold text-lg mb-1 text-black group-hover:text-white">Contacts</p>
                <p class="text-grey-darker group-hover:text-white mb-2">Manage your vendors</p>
            </LinkTo>
        </div>
        <div class="col-12 col-lg-3 col-xl-3">
            <LinkTo @route="dashboard.fleet-ops.management.issues" class="group hover:bg-flb-blue p-4 cursor-pointer bg-white rounded max-w-xs w-full shadow-lg select-none overflow-hidden mx-auto mb-6">
                <p class="font-semibold text-lg mb-1 text-black group-hover:text-white">Issues</p>
                <p class="text-grey-darker group-hover:text-white mb-2">Manage your vendors</p>
            </LinkTo>
        </div>
        <div class="col-12 col-lg-3 col-xl-3">
            <LinkTo @route="dashboard.fleet-ops.management.fuel-reports" class="group hover:bg-flb-blue p-4 cursor-pointer bg-white rounded max-w-xs w-full shadow-lg select-none overflow-hidden mx-auto mb-6">
                <p class="font-semibold text-lg mb-1 text-black group-hover:text-white">Fuel Reports</p>
                <p class="text-grey-darker group-hover:text-white mb-2">Manage your vendors</p>
            </LinkTo>
        </div>
    </div>
</div>
{{outlet}}