<div class="portal-content-wrapper">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
        <div class="lg:col-span-2 md:col-span-3">
            <div class="customer-orders-section-header">
                <div>
                    <h1 class="text-lg font-bold">Orders</h1>
                </div>
                <div class="customer-orders-list-content">
                    {{#each this.orders as |order|}}
                        <a href="javascript:;" class="flex border border-black rounded-md shadow-sm bg-gray-200 px-4 mb-2" {{on "click" (fn this.selectOrder order)}}>{{order.public_id}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="lg:col-span-10 md:col-span-9">
            <div class="font-semibold">
                Render order here using selected order:
                {{n-a this.selectedOrder.id}}
            </div>
        </div>
    </div>
</div>